.search-container {
    width: auto;
    height: 570px;
    position: relative;
    padding: auto;
    background-color: #B3E1E4;
    background-image: url('../../../fakeData/images/bannerbackground.png');
    background-size: cover;
    background-position: center;
}

.headline {
    font-size: 50px;
    padding-top: 200px;
    /* font-family: 'Macondo', cursive; */
}

.search-item {
    border-radius: 30px;
    border: none;
    width: 570px;
    height: 40px;
    z-index: -1;
    outline: none;
}